spring:
  datasource:
    url: jdbc:mysql://localhost:3306/chatdata?useUnicode=true&charset=utf8mb4&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  thymeleaf:
    cache: false
  security:
    user:
      name: admin
      password: admin

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.chatsys.entity
  configuration:
    map-underscore-to-camel-case: true

server:
  port: 8080